# Mac fun
.DS_Store
.xcodeproj

# ant-javac build directory
bin/

# hide some results
#documentation/*
distribution/*

# XCode
build/
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser

# old stuff i can't seem to be able to delete
hidden/
releases/

# no need to track this ..
lib/build.number

lib/poi-3*XlsReader
web
lib/poi-*
XlsReader/*
documentation/*
library/*
.idea/
local.properties
xlsreader-library-processing.iml
